<h1><span id="line">Time's up</span>!</h1>
<h2>You ran out of time, the answer was <%=answer%>.</h2>
<hr />
<button id="continue" onclick="window.location.reload();">Continue</button>
<iframe src="https://www.youtube.com/embed/Nm8jFJMPmzs?autoplay=1" width="0" height="0" frameborder="0"></iframe>