<h1 style="color:#FF0000;"><span id="line">Incorrect</span>!</h1>
<h2>Whoops, the answer was actually <%=answer%>.</h2>
<hr />
<button id="continue" onclick="window.location.reload();">Continue</button>
<iframe src="https://www.youtube.com/embed/qbeEO58Hlfo?autoplay=1" width="0" height="0" frameborder="0"></iframe>