<div id="content">
	<h1>Access Required</h1>
	<h2>Please enter the admin key to continue.</h2>
	<hr />
	<form action="<%=URL%>/authorize">
		<input type="password" placeholder="Admin Key" name="key" id="key" />
		<br />
		<input type="submit" value="Authorize" />
	</form>
</div>