<div id="content">
	<h1>Word Submission</h1>
	<h2>Thanks for contributing!</h2>
	<hr />
	<form id="start" action="<%=URL%>/contribute">
		<input type="text" placeholder="Foreign Word" name="word" id="word" />
		<br />
		<input type="text" placeholder="Translation" name="answer" id="answer" />
		<br />
		<input type="text" placeholder="Language" name="lang" id="lang" />
		<br />
		<input type="submit" value="Submit Word" />
	</form>
</div>